@using VendingMachine.WebApp.Resources
<style>
    .group-product tr td {
        padding: 5px;
    }
</style>
<div ng-controller="app.views.order.order as vm" style="width: 60%" class="center-block">
    <div ng-show="vm.errors.ErrorGeneralMessage.Errors.length > 0 && vm.showAlert == true" class="alert alert-danger alert-dismissable">
        <button type="button" ng-click="vm.closeAlert()" class="close" data-hide="alert">&times;</button>
        <div ng-repeat="e in vm.errors.ErrorGeneralMessage.Errors">
            {{e.ErrorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="group-product">
                <tr>
                    <th colspan="4">{{vm.assortment.DrinkGroup.ProductTypeName}}</th>
                </tr>
                <tr ng-repeat="p in vm.assortment.DrinkGroup.Items">
                    <td><input ng-model="vm.assortment.DrinkGroup.SelectedId" ng-value="p.Id" ng-change="vm.setAllowableDrinkCombination(p)" type="radio"></td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Price}}</td>
                    <td>@Resource.Label_RUR</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="group-product">
                <tr>
                    <th colspan="4">{{vm.assortment.FoodGroup.ProductTypeName}}</th>
                </tr>
                <tr ng-repeat="p in vm.assortment.FoodGroup.Items">
                    <td><input ng-model="vm.assortment.FoodGroup.SelectedId" ng-value="p.Id" ng-change="vm.setAllowableFoodCombination(p)" type="radio"></td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Price}}</td>
                    <td>@Resource.Label_RUR</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="group-product">
                <tr>
                    <th colspan="4">{{vm.assortment.DrinkAdditionGroup.ProductTypeName}}</th>
                </tr>
                <tr ng-repeat="p in vm.assortment.DrinkAdditionGroup.Items">
                    <td><input ng-disabled="p.AllowableCombination != true" ng-model="p.Checked" type="checkbox"></td>
                    <td>
                        <select ng-disabled="p.Checked != true" ng-show="vm.assortment.SugarCount > 0 && p.Id == vm.assortment.SugarId" required ng-model="vm.assortment.SugarCount">
                            <option ng-repeat="option in vm.assortment.SugarCounts" value="{{option}}">{{option}}</option>
                        </select>
                        {{p.Name}}
                    </td>
                    <td>{{p.Price}}</td>
                    <td>@Resource.Label_RUR</td>
                </tr>
            </table>
            
        </div>
        <div class="col-md-6">
            <table class="group-product">
                <tr>
                    <th colspan="4">{{vm.assortment.FoodAdditionGroup.ProductTypeName}}</th>
                </tr>
                <tr ng-repeat="p in vm.assortment.FoodAdditionGroup.Items">
                    <td><input ng-disabled="p.AllowableCombination != true" ng-model="p.Checked" ng-click="vm.resetForbiddenFoodCombination(p)" type="checkbox"></td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Price}}</td>
                    <td>@Resource.Label_RUR</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <table class="group-product">
                <tr>
                    <td><input ng-model="vm.assortment.Composition.Selected" type="checkbox"></td>
                    <td>{{vm.assortment.Composition.Note}}</td>
                    <td>{{vm.assortment.Composition.Price}}</td>
                    <td>@Resource.Label_RUR</td>
                </tr>
            </table>
        </div>
   </div>
    <div>
        <div class="col-md-12">
            <button type="button" ng-click="vm.confirmOrder()" class="btn btn-primary">
                @Resource.Action_ConfirmOrder
            </button>

            <button type="button" ng-click="vm.cancel()" class="btn btn-info">
                @Resource.Action_Cancel
            </button>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            <div>@Resource.Label_Summary: <span>{{vm.assortment.Summary}}</span></div>
        </div>
    </div>
    
    
   
</div>